---
import { NextUIProvider } from "@nextui-org/react";
import NavBar from "@/components/NavBar";
import Footer from "@/components/Footer.astro";
---

<NextUIProvider>
  <header>
    <NavBar client:load />
  </header>
  <main class="px-6 mx-auto h-screen">
    <slot />
  </main>
  <Footer/>
</NextUIProvider>
