{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
    <article class="uk-article">
        <h1 class="uk-article-title">{{ page.title }}</h1>
        {% if page.intro %}
            <p class="uk-text-lead">{{ page.intro }}</p>
        {% endif %}

        <ul class="uk-list uk-list-bullet">
            {% for entry in epoch_entries %}
                <li>
                    <a class="uk-link" href="{% pageurl entry %}">{{ entry.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </article>
{% endblock %}
