{% load compress static wagtailcore_tags %}

<!doctype html>
<html lang="en" class="{% block html_class %}{% endblock %}">
    <head>
        <!-- UI Kit -->
        {% compress css file uikit %}
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">
        {% endcompress %}

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- SEO -->
        {% include "wagtailseo/meta.html" %}

        <!-- Force all links in the live preview panel to be opened in a new tab -->
        {% if request.in_preview_panel %}
            <base target="_blank" />
        {% endif %}
        <!-- /preview panel -->

        <title>
        {# fmt:off #}
            {% block title %}
                {% if page.seo_title %}
                    {{ page.seo_title }}
                {% else %}
                    {{ page.title }}
                {% endif %}
            {% endblock %}

            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{current_site.site_name }}{% endif %}
            {% endblock %}
        {# fmt:on #}
        </title>

        {% if page.search_description %}
            <meta name="description" content="{{ page.search_description }}" />
        {% endif %}

        <!-- Favicon -->
        <link rel="icon" href="{% static 'favicon.ico' %}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'site.webmanifest' %}">

        {% block extra_css %}
        <!-- Override this in templates to add extra stylesheets -->
        {% endblock %}

        <!-- PLAUSIBLE ANALYTICS -->
        {% load plausible_wagtail %} {% plausible %}
    </head>

    <body
        class="{% block body_class %}{% endblock %}"
        {% block body_attributes %}{% endblock%}
    >
        <!-- navbar / header -->
        {% include "includes/header.html" %}
        <!-- end navbar / header -->

        <!-- main content -->
        <main id="main" class="uk-container uk-margin uk-padding-small">
            <!--main content block-->
            {% block content %} {% endblock content %}
        </main>

        <!-- footer -->
        {% include "includes/footer.html" %}
        <!-- end footer -->

        <!-- UI Kit 3.21.13 -->
        {% compress js file uikit %}
        <script defer src="{% static 'js/uikit.min.js' %}"></script>
        {% endcompress %}

        <!-- Alpine.js 3.13.3 -->
        {% compress js file alpine %}
        <script defer src="{% static 'js/alpine.min.js' %}"></script>
        {% endcompress %}

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}

        <!-- SEO -->
        {% include "wagtailseo/struct_data.html" %}
    </body>
</html>
